# Preventing myself accidentally comitting dev files
*.zip 
*.jar
/data-exploration
/expixel-sounds
/resource-sounds
/resource-sounds-converted
/sources
sounds.json
pack_report*.json

# Added by cargo
/target

